.header img{
    height: 80px;

}
.header{
    text-align: center;
}
.header nav{
    background-color: rgba(15, 15, 15, 0.918);
    line-height: 45px;
}
.header a{
    color: rgb(255, 253, 245);
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
}
.header a:hover{
    background-color: rgb(231, 159, 24);
    border-radius: 5px;
    color: black;
    font-weight: 700;
}